<h1 id="index-title">Your Portfolios</h1>

<% if @portfolios.blank? %>
  <h4>No portfolios found</h4>
<% else %>
  <ul>
    <% @portfolios.each do |portfolio| %>
    <li> <%= link_to "#{portfolio[:title]}", portfolio_path(portfolio[:id]), class: "col-sm-8 col-sm-push-4 portfolio-link"  %> </li>
    <% end %>
  </ul>
<% end %>

<div id="add-portfolio">
  <%= link_to 'Add a Portfolio', new_portfolio_path %>
</div>
