<h1><%= @portfolio.title %></h1>

<div>
  <%= react_component 'Portfolio', { data: @portfolio.holdings, portfolio: @portfolio } %>
</div>

<div>
  <%= react_component 'AddStockForm', {portfolio_id: @portfolio.id} %>
</div>
