<h1>Welcome to Chillin with Stocks!</h1>
<h3>Here you can:</h3>
<ul>
  <li>Enter a portfolio of stocks</li>
  <li>Track its performance</li>
  <li>See how it stacks up against the Chillin Portfolio Rules</li>
  <li>See how many Chill Points each of your stocks rates</li>
</ul>
<h3>Just click the "Sign Up" link above to get started</h3>
<h3>Hope your portfolio is Chillin!</h3>
<p>**Disclaimer** Purchasing stocks involves risk.
  Stocks may lose value regardless of their Chill Point rating.
  This site is only providing decision support as part of your
  overall stock analysis process and is not directly
  recommending the purchase or sale of any specific securities.
