// @import "*";
@import "portfolio_show";
@import "holding_show";
@import "portfolio_index";
@import "grade";

#body {
  background-color: lightgreen;
  padding-top: 0px;
}
#container {
  width: 80%;
  margin: auto;
  margin-top: 0px;
  background-color: white;
  padding: 0px;
}
ul {
  list-style: none;
}
#page-body {
  padding-bottom: 10px;
  padding-top: 0px;
  margin: 40px;
  margin-top: 20px;
}
#top-bar {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  h1 {
    font-family: Comic Sans MS;
    color: #6530E5;
    text-align: center;
    margin-top: -15px;
  }
}
.sign-in {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.nav-link {
  display: inline-block;
  padding: 4px;
  margin: 0px;
  font-size: .8em;
}
.red {
  background-color: #ff4444;
  color: #ff4444;
  border-radius: 5px;
  margin-bottom: 10px;
}
.yellow {
  background-color: yellow;
  color: yellow;
  border-radius: 5px;
  margin-bottom: 10px;
}
.green {
  background-color: #00C851;
  color: #00C851;
  border-radius: 5px;
  margin-bottom: 10px;
}
