#portfolio-show-table {
  display: inline-table;
  margin: auto;
  th, td {
    border: 1px solid gray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  th {
    text-align: center;
  }
}
#portfolio_title_show {
  text-align: center;
  margin-top: 0;
  padding-bottom: 15px;
}
#industry {
  width: 16em;
  display: inline-block;
}
#industry-label {
  margin-left: 27px;
  margin-right: 30px;
}
.new_holding {
  display: inline-block;
}
#add-holding-form {
  display: block;
}
.table-number {
  text-align: right;
}
#addStock {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: lightblue;
  width: 120px;
}
#addStockModal {
  width: 360px;
  margin: auto;
}
#sellStockModal {
  width: 360px;
  margin: auto;
}
.modal-header {
  background-color: #3775dd;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
.portfolio-button {
  background-color: white;
  display: inline-block;
  margin: auto;
  margin-top: 0px;
  width: 118px;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  height: 35px;
}
.purple-link {
  color: #3277C5;
}
.green-num {
  text-align: right;
  color: green;
}
.red-num {
  text-align: right;
  color: red;
}
#add-button {
  width: 75px;
  background-color: #3775dd;
  color: white;
}
#modal-label-1, #modal-label-2, #modal-label-3 {
  margin-top: -15px;
}
#addStock {
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
}
#portfolio-links-row {
  display: flex;
  justify-content: space-between;
}
#grade-portfolio-link {
  margin-top: 8px;
}
