table {
  display: inline-block;
  margin: auto;
}
#portfolio-show-table {
  display: flex;
  margin: auto;
  th, td {
    border: 1px solid gray;
    padding: 5px;
  }
}
#portfolio_title_show {
  text-align: center;
  margin-top: 0;
}
#industry {
  width: 16em;
  display: inline-block;
}
#industry-label {
  margin-left: 27px;
  margin-right: 30px;
}
.new_holding {
  display: inline-block;
}
#add-holding-form {
  display: block;
}
.table-number {
  text-align: right;
}
#addStock {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: lightblue;
  width: 120px;
}
#addStockModal {
  width: 360px;
  margin: auto;
}
.modal-header {
  background-color: #3775dd;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
.portfolio-button {
  background-color: white;
  color: #337ab7;
  display: inline-block;
  margin: auto;
  margin-top: 0px;
  width: 118px;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  height: 35px;
}
#add-button {
  width: 75px;
  background-color: #3775dd;
  color: white;
}
#modal-label-1, #modal-label-2, #modal-label-3 {
  margin-top: -15px;
}
#addStock {
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
}
#portfolio-chill-group {
  border-top: 1px solid grey;
  margin-top: -8px;
  padding-top: 30px;
}
#portfolio_chill_message {
  text-align: center;
}
#portfolio-grade-title {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 15px;
}
#stockCarousel {
  margin-bottom: 20px;
}
#portfolio-stocks {
  border-top: 1px solid grey;
  margin-bottom: 15px;
  text-align: center;
}
#portfolio-stock-symbol {
  margin-top: 10px;
  text-align: center;
}
#portfolio-stock-message {
  text-align: center;
  margin-bottom: 10px;
}
